#searchForm .input-field{
    background-color: white;
    border: 5px solid rgb(187, 187, 187);
    padding-left: 4px;
    padding-right: 10px;
    border-radius: 10px;
    
}
#searchForm .input-field:hover{
    border-color: black;
}
#searchContainer{
    margin-top: 80px;
}
